*{
  margin: 0%;
  padding: 0%;

}

.f-nav{

  display: flex;
  justify-content: center;
  font-style: italic;
  justify-content: space-around; 
  background-color: rgb(252, 155, 171); 
  padding: 22px;
  margin-bottom: 7px;
}
.feature{

  display: flex;
}

.feature.app{

  display: block;
  margin-inline: 22px;
  
}

.feature.app.i{
    margin-inline: 8px;


  
}
.sec-nav{
    display:flex;
    justify-content: center;
    justify-content: safe; 
    padding:11px;
    font-style: italic;
    background-color: aquamarine;
    margin-bottom: 7px;
}
.sec-nav ul li img{
width:8%;
margin: left 22px;

}

.sec-nav ul li a{
    margin-inline:22px;
}

.sec-nav .inputs{

    display:flex;
}

.sec-nav .inputs text{
    margin-inline: 22px;
    width: 80px;
    height: 30px;
    border:dotted;
}

.sec-nav .inputs button{
    margin-inline: 22px;
    width: 80px;
    height: 30px;
    background-color: rgb(249,61,92);
    color:white;
    font-size: 17px;
    border:none;
    border-radius: 5px;

}
.sec-nav .inputs input{
    width:220px;
    background-color:white;
    border-radius: 15px;
    border-color: gray;
    text-align:center;
    font: size 16px; 
}

.items{
    display:flex;
    justify-content: center;
    justify-content: safe;
    padding: 5px;
    font-style: italic;
    background-color:yellow;
}

.items ul li a{
    list-style: none;
    margin-inline: 22px;
    text-align: center;

}
.items ul li button{
   
    width: 100px;
    height:34px;
    background-color: rgb(249,61,92);
    color:white;
    font-size: 17px;
    border:none;
    border-radius: 5px;

}
.items ul li {
    list-style: none;
}

.mainimg img{
    padding:15px;
    width:95%;
    margin-left: 20px;

}
.pink img{
    padding:15px;
    width:90%;
    margin-left: 60px;

}

.pink h2{
    text-align: center;
    padding: 7px;
}

.brand h2{
    text-align: center;

}
.card{
    display:flex;
    justify-content: center;
    justify-content: safe;
    margin-inline: 22px;
}
.card img{
    margin-inline: 22px;
    width: 44%;
}

.brand h2{
    text-align: center;
    padding: 22px;
}
.top{
    display:flex;
    justify-content: center;
    justify-content: safe;

}

.top img{

    margin-inline: 22px;
    width: 44%;
}

.only h2{
    text-align: center;
    padding: 22px;

}

.only .only1{

    display:flex;
    justify-content: center;
    justify-content: safe;

}

.only img{
    margin-inline: 22px;
    width: 44%;
}

.makeup{
    display:flex;
    justify-content: center;
    justify-content: safe;
    padding:42px;
}

.makeup img{
    width: 22%;
    margin-inline: 18px;

}

.special h2{
    text-align: center;
    padding: 22px;

}

.special .curation{
    display:flex;
    justify-content: center;
    justify-content: safe;
}

.curation img{
    width: 44%;
    margin-inline: 22px;
}

.beauty h2{
    text-align: center;
    padding: 22px;
}

.beauty .advice{
    display:flex;
    justify-content: center;
    justify-content:safe;
}

.advice img{
    width: 44%;
    margin-inline: 22px;
}

.footer{
    display:flex;
    justify-content: center;
    justify-content: space-around;
    background-color: Black;
    color:aliceblue;
    padding: 22px;
    margin:20px;
}


.footer.list{

    flex-direction: column;
}

.footer .list ul li {
    list-style:disc;
    padding: 50px;

}
.footer .list ul li a{
    font-weight: 600;
    font-size: 13px;
    padding: 50px;
    font-style: italic;
}

.footer .list ul li h2{
    font-size: 18px;
}